
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title> Hustle Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard_style.css" rel="stylesheet">
  </head>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDRfW0N3I9u0zRWUQtlZkRiQNOJC0INmVQ",
    authDomain: "cs252-c5e8f.firebaseapp.com",
    databaseURL: "https://cs252-c5e8f.firebaseio.com",
    projectId: "cs252-c5e8f",
    storageBucket: "cs252-c5e8f.appspot.com",
    messagingSenderId: "338815394602"
  };
  firebase.initializeApp(config);
  
</script>
  <script type="text/javascript">
    initApp = function() {
      firebase.auth().onAuthStateChanged(function(user) { 
        
        if (user) {
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var emailVerified = user.emailVerified;
          var photoURL = user.photoURL;
          var uid = user.uid;
          var phoneNumber = user.phoneNumber;
          var providerData = user.providerData;
          user.getIdToken().then(function(accessToken) {
            document.getElementById('sign-in-status').textContent = 'Signed in';
            document.getElementById('sign-in').textContent = 'Sign out';
            document.getElementById('account-details').textContent = JSON.stringify({
              displayName: displayName,
              email: email,
              emailVerified: emailVerified,
              phoneNumber: phoneNumber,
              photoURL: photoURL,
              uid: uid,
              accessToken: accessToken,
              providerData: providerData
            }, null, '  ');
          });
          document.getElementById('userdisplayname').innerHTML = displayName;
          document.getElementById('displaypic').src = photoURL;
        } else {
          // User is signed out.
          document.getElementById('sign-in-status').textContent = 'Signed out';
          document.getElementById('sign-in').textContent = 'Sign in';
          document.getElementById('account-details').textContent = 'null';
        }
      }, function(error) {
        console.log(error);
      });
    };
    
    window.addEventListener('load', function() {
      initApp()
    });
    function signout(){
      
      firebase.auth().signOut();
      //alert('You have now been logged out.');
      window.location='/';
    }
  
    var useruiname;
    var habitkaname;

    var dbfire = firebase.database().ref('users/gargi').child('habits');
    function lala(){
      var dbfire = firebase.database().ref('users/gargi').child('habits');
      useruiname = document.getElementById('useruiid').value;
      habitkaname = document.getElementById('habit').value;
      
      firebase.database().ref('users/' + useruiname).child(''+habitkaname).update({
        streak: ""
      });
    }
   
    function updateHabit(){
      var dbfire = firebase.database().ref('users/gargi').child('habits');
      useruiname = document.getElementById('useruiid3').value;
      habitkaname = document.getElementById('habit3').value;
     // alert(useruiname);
      firebase.database().ref('users/' + useruiname).child(''+habitkaname).update({
        streak: document.getElementById('streak').value
      });
    }
  // var ref; //= firebase.database().ref().child("users/"+useruiname+"/"+habitkaname);

    function refresh(){
      useruiname = document.getElementById('useruiid2').value;
      habitkaname = document.getElementById('habit2').value;
    //  alert("users/"+useruiname+"/"+habitkaname);

    var ref = firebase.database().ref().child("users/"+useruiname/*+"/"+habitkaname*/);
      alert("users/"+useruiname+"/"+habitkaname);
      ref.on("child_added", snap => {
          var data = snap.child("streak").val();
          alert(data);
          //additional add after gargi testing
          var disp = "Habit name: " + habitkaname + " Streak: " + data;
          document.getElementById('habitdisplay').innerHTML = disp;
        });
        
    }
  </script>
    
    
  
  <body>
      
   <!-- <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>-->
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hustle</a>

        <!--Logout Button-->
        
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <img id = "displaypic">
                <h1 id="userdisplayname"></h1>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <button class="btn btn-info" onclick="signout();">Logout</button>
            </ul>
        </div>
      </nav>
    </header>
   
    <form class="formclass" > 
        <h2>Add Habit</h2> 
        <div class="form-row">
          <div class="col">
              <input id = "useruiid" type="text" class="form-control" placeholder="Select a username">
          </div>
          <div class="col">
            <input id = "habit" type="text" class="form-control" placeholder="Habit name">
          </div>
         <!-- <div class="col">
            <input id = "type" type="text" class="form-control" placeholder="Habit Type">
          </div>
          <div class="col">
              <input id = "habitnum" type="text" class="form-control" placeholder="Habit #">
            </div>-->
        </div>
        <br>
        <button class="btn btn-info" type="submit" value="submit" onclick=" lala();">Add Habit</button>
      </form>

        <form class="formclass" > 
            <h2>Enter username, habit, streak to update the streak</h2> 
            <div class="form-row">
              <div class="col">
                  <input id = "useruiid3" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="col">
                  <input id = "habit3" type="text" class="form-control" placeholder="Habit Name">
              </div>
              <div class="col">
                  <input id = "streak" type="text" class="form-control" placeholder="Streak">
              </div>
            </div>
            <br>
            <button class="btn btn-info" type="submit" value="submit" onclick=" updateHabit();">Update Habit</button>
        </form>
        <form class="formclass" > 
            <h2>Enter username and habit name to display a habit</h2> 
            <div class="form-row">
              <div class="col">
                  <input id = "useruiid2" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="col">
                  <input id = "habit2" type="text" class="form-control" placeholder="Habit Name">
              </div>
            </div>
            <br>
            <button class="btn btn-info" type="submit" value="submit" onclick=" refresh();">Display Habit</button>
          </form>
      <div class="habitclass">
          <h2>Habit </h2>
          <h2 id="habitdisplay"></h2>
      </div>
    <!-- Begin page content -->
   <!-- <main role="main" align="center" class="container">
      <h1 class="mt-5"> Just Keep Working... </h1>
      <iframe src="https://giphy.com/embed/1sSWWMNnaZLlm" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> 
      <a href="https://giphy.com/gifs/just-keep-swimming-1sSWWMNnaZLlm"> </a>
      <p class="lead"> Just add a habit and click on it each day to keep track of your daily streak! </p>
      <a href="https://www.youtube.com/watch?v=QhtIJbeuTsg" target="_blank" class="button"> + </a>
    </main>-->

    <footer class="footer">
      <div class="container">
  <!--      <span class="text-muted">Copyright Hustle</span> -->
            <!--  <p>©Hustle</p> -->
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
