<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/landing_style.css">
	<title>Hustle</title>
</head>
<body>
	<header id="showcase">
	    <h1>Welcome to Hustle!</h1>
	    <p>A simple habit tracker to make your hustle stress free!</p>
	    <a href="https://www.youtube.com/watch?v=QhtIJbeuTsg" target="_blank" class="button">Login Here</a>
	</header>
</body>
</html>
